@import "tailwindcss";



/* 
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-progress {
  animation: progress 2.5s ease-in-out;
} */



@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}

@keyframes floatFast {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(25px) scale(1.08);
  }
}

.animate-floatSlow {
  animation: floatSlow 10s ease-in-out infinite;
}

.animate-floatFast {
  animation: floatFast 6s ease-in-out infinite;
}


.gradient-bg {
  background: radial-gradient(circle at top left, #1a1a1a, #000);
}


.gradient-bgt {
  background: radial-gradient(circle at 30% 30%, #1e1e1e, #0a0a0a 80%);
}


@keyframes move {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.gradient-bg {
  background: radial-gradient(circle at 30% 30%, #1e1e1e, #0a0a0a 80%);
}
